body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  ul {
    list-style: none;
  }
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 3%;
}
.accent {
  color: #4d5ae5;
}
.header-navigation,
.header-navigation a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  list-style: none;
  line-height: 1.5;
  letter-spacing: 2%;
  text-decoration: none;
}
.header-navigation a:hover {
  color: #4d5ae5;
}
.header-navigation a:focus {
  color: #4d5ae5;
}
.header-contacts a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  list-style: none;
  line-height: 1.5;
  letter-spacing: 2%;
}
.header-contacts a:hover {
  color: #4d5ae5;
}
.header-contacts a:focus {
  color: #4d5ae5;
}
.hero {
  background-color: #2e2f42;
}
h1 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 2%;
  line-height: 1;
}
button {
  cursor: pointer;
}
.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 4%;
}
.order-button:hover {
  background-color: #f4f4fd;
  color: #4d5ae5;
}
.order-button:focus {
  background-color: #f4f4fd;
  color: #4d5ae5;
}
.our-features-section {
  list-style: none;
}
.features p {
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}
.features h3 {
  font-weight: 500;
  font-size: 20px;
}
.our-team-section {
  background-color: #f4f4fd;
}
.our-team-section h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 2%;
}

.our-team-list h3 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  line-height: 1.25;
}
.our-team-list p {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 2%;
}
.our-team-list li {
  list-style: none;
  background-color: #ffffff;
}
.our-portfolio-section h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 2%;
}
.our-portfolio-section li {
  list-style: none;
}
.footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
}
.footer p {
  color: #f4f4fd;
}
